@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Pretendard, sans-serif;
}
.font-unbounded {
  font-family: var(--font-unbounded), sans-serif;
}

@keyframes pulse-ring {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes dot-blink {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.pulse-ring {
  animation: pulse-ring 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  animation-fill-mode: forwards;
}

.dot-blink-1 {
  animation: dot-blink 3s ease-in-out infinite;
}

.dot-blink-2 {
  animation: dot-blink 3s ease-in-out infinite;
  animation-delay: 0.4s;
}

.dot-blink-3 {
  animation: dot-blink 3s ease-in-out infinite;
  animation-delay: 0.8s;
}

.dot-blink-4 {
  animation: dot-blink 3s ease-in-out infinite;
  animation-delay: 1.2s;
}
